.cg { 
    /* The image used */
    background-image:url("../images/Picture1.png");
  
    /* Full height */
    max-height: 100%;
    opacity: 1;
    /* Center and scale the image nicely */
    width: 100%;

    /*background-repeat: no-repeat; */
    background-size: cover;
  }