<!DOCTYPE html>
<html lang="en">
{% load static %}
<!-- Navbar same in all pages -->
<head class="  w-25 p-3">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/doc.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/firstpage.css' %}"> {% endcomment %}
    <title>RFP</title>
    <div class=" bg  row">
        <div class="  col-2  ">
        <a href="{%url 'index'%}"><img src="{% static 'images/KPMG_logo.png' %}" height="80" width="110"></a>
        </div>
        <div class=" col-8 mt-4 ">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <h6 class="d-inline text-center ml-2  display-5" style="font-family:Arial;font-size:1rem;color:White"><strong>Powered Enterprise Intelligent RFP Builder</strong></h6>
        </div>
        <div class=" col-2 mt-3   ">
            <div class="row">
                <div class="col-1 ">
                   
                </div>
                {% comment %} <div class="col-8  mt-1">
                    <div class="col-12  ">
                        <h6 style="font-size:.7rem;color:White">Client: {{showname}}</h6>
                    </div>
                    <div class="col-12  ">
                        <h6 style="font-size:.7rem;color:White">GEO: {{country}}</h6>
                    </div>
                    <div class="col-12  ">
                        <h6 style="font-size:.7rem;color:White">Industry:{{industry}}</h6>
                    </div> 
                </div>  {% endcomment %}

            </div>    
        </div>   
                    
        </div> 
    </div>
   

    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/firstpage.css' %}">
    <link rel="stylesheet" href="{% static 'css/stepper.css' %}" />
    <div class="border-bottom border-dark"></div>
    <title>RFP</title>
</head>


<body >
    <div class="  container float-center">
          {% comment %} Progress Bar {% endcomment %}
  
  {% comment %} Progress Bar {% endcomment %}
    <div class="row  mt-5">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <div class="col-4 mt-5 " >
        
    <h3 class="ml-5 " style="font-family:Helvetica">APPROVER SIGNUP</h3>

    <form action="{% url 'approversignup'%}" method="POST">
        {% csrf_token %}
        <table class="ml-5">
            <tr>
                <td >Username :</td>
            </tr>
            <tr>
                <td ><input type="text" name="username" placeholder="Username"  onkeyup="this.value = this.value.toUpperCase();"></td>
            </tr>
            <tr>
                <td>Email :</td>
            </tr>
            <tr>
                <td><input type="email" name="email" placeholder="Your Email" ></td>
            </tr>
            <tr>
                <td>Password :</td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="Password" ></td>
            </tr>
            <tr>
                <td>Confirm Password :</td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="Password" ></td>
            </tr>

            
            <tr class=" mt-2">
                <td><input class="btn btn-dark btn-sm   " type="submit" /><a class="btn btn-dark btn-sm ml-2 " style="font-size:.8rem;width: 4rem;background-color:#000099;" href="{% url 'details'%}">Home</a><a class="btn btn-dark btn-sm ml-2 " style="font-size:.8rem;width: 4rem;" href="{% url 'loginapprover'%}">Login</a></td>
                
            </tr>
        </table>
        {% if messages %}
                {% for record in messages %}
                <div class="alert alert-success">
                    <strong>Alert!</strong> {{record}}
                  </div>
                {% endfor %}
                {% endif %}
    </form>
    </div>
</div>
</body>

<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
<div class="container ">
  <div class="row">

<div class="">
  <!-- Copyright -->
  <footer class="">

    <!-- Copyright -->
    <div class="footer-copyright container" style="font-family:Arial;font-size:.5rem;color:black" >© 2023 Copyright owned by one or more of the KPMG International entities. KPMG International entities provide no services to clients. All rights reserved. KPMG refers to the global organization or to one or more of the member firms of KPMG International Limited (“KPMG International”), each of which is a separate legal entity. KPMG International Limited is a private English company limited by guarantee and does not provide services to clients. For more detail about our structure please visit https://home.kpmg/governance
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer --> 
</div>
</div>
</div>
  <!-- Footer -->
