{% extends "base_second.html" %} {% block content %} {% load static%}
<link rel="stylesheet" href="{% static 'css/mcq.css' %}" />
<link rel="stylesheet" href="{% static 'css/stepper.css' %}" />
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
{% comment %} Progress Bar {% endcomment %}
<div class="container ">
  <div class="row">
    <div class="col-12 container ">
          {% comment %} <div class="wrapper-progressBar">
            <ul class="progressBar">
              <li class="active" id="stepper">Home</li>
              <li class="active" id="stepper">Information Form</li>
              <li class="active" id="stepper">Standard Indexes</li>
              <li class="active" id="stepper">Review Standard Docs</li>
              <li class="active" id="stepper">Upload Docs</li>
              <li class="active" id="stepper">Drop RFP / Ask Question / Extra Images / Assuptions ans Risk Consideration</li>
              <li class="active" id="stepper">Assumption and Risk</li>
              <li class="" id="stepper">Upload Assuption And Risk Consideration</li>
              
            </ul>
          </div> {% endcomment %}
        
      



        </div>
  </div>
</div>
  {% comment %} Progress Bar {% endcomment %}
    {% comment %} Progress Bar {% endcomment %}
             {% comment %} Heading {% endcomment %}
             <div class=" container mt-3" >
              {% if messages %}
              {% for record in messages %}
              <div class="alert alert-warning alert-dismissible text-center" role="alert">
                <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                <strong>{{record}}</strong>
              </div>
              {% endfor %}
              {% endif %}
              <div class="row-12 text-center ">
                  <div class="col-12 text-center ">
                      <h6 style="text-decoration: underline;">ASSUMPTIONS AND RISK</h6>
              </div>
          </div>
          </div>
          {% comment %} Heading {% endcomment %}
<div class="container  mt-3">
        
  
</div>

{% comment %} General start {% endcomment %}
<div class="container">
  <form action="/AssuptionAndRisk/" method="POST">
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#f2f2f2;color: black;width: 70rem;font-size: 0.7rem;"
    >
    General ▼
    </button>
    <div class="collapse" id="collapseExample">
      
      <div class="card card-body">
        {% for a in Generalcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value={{a.id}} checked>
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        {% for a in Generalnotcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value={{a.id}} >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        
      </div>
    </div>
</div>
</div>
{% comment %} General end {% endcomment %}
{% comment %} Resources start {% endcomment %}
<div class="container row-12 ">
  {% comment %} <form action="/AssuptionAndRisk/" method="POST"> {% endcomment %}
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample1"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#f2f2f2;color: black;width: 70rem;font-size: 0.7rem;"
    >
    Resources ▼
    </button>
    <div class="collapse" id="collapseExample1">
      
      <div class="card card-body">
        {% for a in Resourcescheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value={{a.id}} checked>
                  
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
                  
        </div>
        {% endfor %}
        {% for a in Resourcesnotcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value={{a.id}} >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>
 {% comment %} Resources end {% endcomment %}
 {% comment %} Workday start {% endcomment %}
    <div class="container row-12 ">
      {% comment %} <form action="/AssuptionAndRisk/" method="POST"> {% endcomment %}
        <button
          class="btn btn-success mt-3"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample3"
          aria-expanded="false"
          aria-controls="collapseExample"
          style="background-color:#f2f2f2;color: black;width: 70rem;font-size: 0.7rem;"
        >
        Workday ▼
        </button>
        <div class="collapse" id="collapseExample3">
          <div class="card card-body">
            
            {% for a in Workdaycheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" checked>
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        {% for a in Workdaynotcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% comment %} Workday end {% endcomment %}



 {% comment %} Software start {% endcomment %}
 <div class="container row-12 ">
  {% comment %} <form action="/AssuptionAndRisk/" method="POST"> {% endcomment %}
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample4"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#f2f2f2;color: black;width: 70rem;font-size: 0.7rem;"
    >
    Software ▼
    </button>
    <div class="collapse" id="collapseExample4">
      <div class="card card-body">
        
        {% for a in Softwarecheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" checked>
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        {% for a in Softwarenotcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% comment %} Software end {% endcomment %}



 {% comment %} Integration start {% endcomment %}
 <div class="container row-12 ">
  {% comment %} <form action="/AssuptionAndRisk/" method="POST"> {% endcomment %}
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample5"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#f2f2f2;color: black;width: 70rem;font-size: 0.7rem;"
    >
    Integration ▼
    </button>
    <div class="collapse" id="collapseExample5">
      <div class="card card-body">
        
        {% for a in Integrationcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" checked>
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        {% for a in Integrationnotcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% comment %} Integration end {% endcomment %}



 {% comment %} Data Migration start {% endcomment %}
 <div class="container row-12 ">
  {% comment %} <form action="/AssuptionAndRisk/" method="POST"> {% endcomment %}
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample6"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#f2f2f2;color: black;width: 70rem;font-size: 0.7rem;"
    >
    Data Migration ▼
    </button>
    <div class="collapse" id="collapseExample6">
      <div class="card card-body">
        
        {% for a in Datacheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" checked>
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        {% for a in Datanotcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% comment %} Data Migration end {% endcomment %}


{% comment %} Change Management start {% endcomment %}
<div class="container row-12 ">
  {% comment %} <form action="/AssuptionAndRisk/" method="POST"> {% endcomment %}
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample8"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#f2f2f2;color: black;width: 70rem;font-size: 0.7rem;"
    >
    Change Management ▼
    </button>
    <div class="collapse" id="collapseExample8">
      <div class="card card-body">
        
        {% for a in Changecheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" checked >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        {% for a in Changenotcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% comment %} Change Management end {% endcomment %}


{% comment %} Deployment and Support start {% endcomment %}
<div class="container row-12 ">
  {% comment %} <form action="/AssuptionAndRisk/" method="POST"> {% endcomment %}
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample9"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#f2f2f2;color: black;width: 70rem;font-size: 0.7rem;"
    >
    Deployment and Support ▼
    </button>
    <div class="collapse" id="collapseExample9">
      <div class="card card-body">
        
        {% for a in Deploymentcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" checked>
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        {% for a in Deploymentnotcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% comment %} Deployment and Support end {% endcomment %}


{% comment %} Covid-19 start {% endcomment %}
<div class="container row-12 ">
  {% comment %} <form action="/AssuptionAndRisk/" method="POST"> {% endcomment %}
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample10"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#f2f2f2;color: black;width: 70rem;font-size: 0.7rem;"
    >
    Covid-19 ▼
    </button>
    <div class="collapse" id="collapseExample10">
      <div class="card card-body">
        
        {% for a in Covidcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" checked >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        {% for a in Covidnotcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% comment %} Covid-19 end {% endcomment %}



{% comment %} Testing start {% endcomment %}
<div class="container row-12 ">
  {% comment %} <form action="/AssuptionAndRisk/" method="POST"> {% endcomment %}
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample11"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#f2f2f2;color: black;width: 70rem;font-size: 0.7rem;"
    >
    Testing ▼
    </button>
    <div class="collapse" id="collapseExample11">
      <div class="card card-body">
        
        {% for a in Testingcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" checked>
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
        {% for a in Testingnotcheck %}
        <div class="form-check mt-3" >
          
                
                  <label class="form-check-label mt-2" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span><strong>{{a.document_name}}</strong></span></label>
                  <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="check"  value="{{a.id}}" >
                  <h4 class="border border-secondary mt-3 rounded" style="font-size:.8rem;color:black;width:1030px"> {{a.description}}</h4>
        </div>
        {% endfor %}
      </div>
    </div>
  

{% comment %} Testing end {% endcomment %}
{% csrf_token %}
{% comment %} <div class="mt-5 row-6">

  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

</div>
<div class="mt-5 row-6">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  

</div> {% endcomment %}
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<div class="mt-2 row-6">
  
  <button
    type="submit"
    class="btn btn-dark d-inline btn-sm"
    style="background-color: #f2f2f2; color: black"
  >
    Submit
  </button>
  <a
  class="btn btn-dark d-inline btn-sm " style="background-color:#000099"
    href="{% url 'firstpage'%}"
    >Home</a
  >
  <a
                class="btn btn-dark d-inline btn-sm mr-1 " style="background-color:#f2f2f2;color: black"
                  href="{% url 'Uploadassumprisk'%}"
                  >Upload</a
                >

</div>
</div>
  
            </form>

          </div>
        </div>

            {% comment %} <a
          class="btn btn-secondary btn-sm"
          style="font-size: 0.7rem; width: 9rem; background-color: #000099"
          href="{% url 'DownloadPicAndImages'%}"
          >Download word</a
        > {% endcomment %}
            
        {% comment %} <link rel="stylesheet" href="{% static 'css/footer.css' %}" /> {% endcomment %}


        
        <div class="container mt-2 border border-secondary">
          <div class="row">
      
        <div class="">
          <!-- Copyright -->
          <footer class="">
        
            <!-- Copyright -->
            <div class="footer-copyright " style="font-family:Arial;font-size:.5rem;color:black" >© 2023 Copyright owned by one or more of the KPMG International entities. KPMG International entities provide no services to clients. All rights reserved. KPMG refers to the global organization or to one or more of the member firms of KPMG International Limited (“KPMG International”), each of which is a separate legal entity. KPMG International Limited is a private English company limited by guarantee and does not provide services to clients. For more detail about our structure please visit https://home.kpmg/governance
            </div>
            <!-- Copyright -->
          
          </footer>
          <!-- Footer --> 
        </div>
      </div>
      </div>        
{%endblock%}
