{% extends "base_second.html" %} {% block content %} {% load static%}
<link rel="stylesheet" href="{% static 'css/mcq.css' %}" />
<link rel="stylesheet" href="{% static 'css/stepper.css' %}" />
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
{% comment %} Progress Bar {% endcomment %}
<div class="container ">
  <div class="row">
    <div class="col-12 container ">
          <div class="wrapper-progressBar">
            <ul class="progressBar">
              <li class="active" id="stepper">Home</li>
              <li class="active" id="stepper">Information Form</li>
              <li class="active" id="stepper">Standard Indexes</li>
              <li class="active" id="stepper">Review Standard Docs</li>
              <li class="active" id="stepper">Upload Docs</li>
              <li class="active" id="stepper">Drop RFP / Ask Question / Extra Images / Assuptions ans Risk Consideration</li>
              <li class="active" id="stepper">Assuption and Risk</li>
              
            </ul>
          </div>
        
      



        </div>
  </div>
</div>
  {% comment %} Progress Bar {% endcomment %}
<div class="container  mt-3">
        
  <a
  class="btn btn-dark d-inline btn-sm float-right" style="background-color:#000099"
    href="{% url 'firstpage'%}"
    >Home</a
  >
</div>
<div class="container">
  <form action="/AssuptionAndRisk/" method="POST">
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#000099"
    >
      Assumptions >
    </button>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        {% for a in Assuptioncheck  %}
            <div class="form-check mt-3">
              <label
                class="form-check-label"
                style="font-size: 0.8rem; color: dark"
                id="A"
                for="defaultCheck1"
                ><span>{{a.Description}}</span></label
              >
              <input
                style="width: 15px; height: 20px"
                class="form-check-input ml-2 float-right"
                type="checkbox"
                name="risk"
                value="{{a.id}}"
              checked/>
            </div>
            {% endfor %}
            
            
            {% for a in Assuptionnotcheck  %}
            <div class="form-check mt-3">
              <label
                class="form-check-label"
                style="font-size: 0.8rem; color: dark"
                id="A"
                for="defaultCheck1"
                ><span>{{a.Description}}</span></label
              >
              <input
                style="width: 15px; height: 20px"
                class="form-check-input ml-2 float-right"
                type="checkbox"
                name="risk"
                value="{{a.id}}"
              />
            </div>
            {% endfor %}
        
        
        
      
      </div>
    </div>
</div>
</div>


<div class="container">
  {% comment %} <form action="/AssuptionAndRisk/" method="POST"> {% endcomment %}
    <button
      class="btn btn-success mt-3"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample1"
      aria-expanded="false"
      aria-controls="collapseExample"
      style="background-color:#000099"
    >
    Key_consideration_and_risk >
    </button>
    <div class="collapse" id="collapseExample1">
      <div class="card card-body">
        
        {% for a in riskon %}
        <div class="form-check mt-3">
          <label
            class="form-check-label"
            style="font-size: 0.8rem; color: dark"
            id="A"
            for="defaultCheck1"
            ><span>{{a.Description}}</span></label
          >
          <input
            style="width: 15px; height: 20px"
            class="form-check-input ml-2 float-right"
            type="checkbox"
            name="risk"
            value="{{a.id}}"
          checked/>
        </div>
        {% endfor %}
        
        
        {% for a in riskoff %}
        <div class="form-check mt-3">
          <label
            class="form-check-label"
            style="font-size: 0.8rem; color: dark"
            id="A"
            for="defaultCheck1"
            ><span>{{a.Description}}</span></label
          >
          <input
            style="width: 15px; height: 20px"
            class="form-check-input ml-2 float-right"
            type="checkbox"
            name="risk"
            value="{{a.id}}"
          />
        </div>
        {% endfor %}
      </div>
    </div>
  


{% csrf_token %}
<div class="mt-5 ">
  <button
    type="submit"
    class="btn btn-dark d-inline btn-sm"
    style="background-color: #f2f2f2; color: black"
  >
    Submit
  </button>

</div>
</div>
  
            </form>



            {% comment %} <a
          class="btn btn-secondary btn-sm"
          style="font-size: 0.7rem; width: 9rem; background-color: #000099"
          href="{% url 'DownloadPicAndImages'%}"
          >Download word</a
        > {% endcomment %}
            
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
        <div class="container ">
          <div class="row">
        
        <div class="">
          <!-- Copyright -->
          <footer class="">
        
            <!-- Copyright -->
            <div class="footer-copyright container" style="font-family:Arial;font-size:.5rem;color:black" >© 2023 Copyright owned by one or more of the KPMG International entities. KPMG International entities provide no services to clients. All rights reserved. KPMG refers to the global organization or to one or more of the member firms of KPMG International Limited (“KPMG International”), each of which is a separate legal entity. KPMG International Limited is a private English company limited by guarantee and does not provide services to clients. For more detail about our structure please visit https://home.kpmg/governance
            </div>
            <!-- Copyright -->
          
          </footer>
          <!-- Footer --> 
        </div>
        </div>
        </div>         
{%endblock%}
