{% extends "base_second.html" %}
{% block content %}


<body>
    <div class=" " >
        <div class="row ml-5" >
            <div class="col-3 ml-5 ">
                &emsp;&emsp;&emsp;&emsp;&emsp;
            </div>
            
            
            
            <div class="col-3 mt-5 ml-5 ">     
                <!--FORM-->
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <div class="card mt-5">
                    <div class="card-header">
                      <strong>Congratulation!{{id}}</strong>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Approval Request Sent</h5>
                      <p class="card-text">Thanks for providing inputs.Will be added to database once approved.</p>
                      <a href="{% url 'preview' %}" class="btn btn-primary">Go To Last Page</a>
                    </div>
                  </div>    
            </div> 
                
        </div>         
    </div>

</body>

</script>
{% endblock content %}