{% extends "base_second.html" %}
{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/doc.css' %}">
<link rel="stylesheet" href="{% static 'css/mcq.css' %}">
<link rel="stylesheet" href="{% static 'css/stepper.css' %}" />
<div class=" container ">
  
<div class=" container ">
  {% comment %} Progress Bar {% endcomment %}
<div class="container ">
  <div class="row">
    <div class="col-12 container ">
          <div class="wrapper-progressBar">
            <ul class="progressBar">
              <li class="active" id="stepper">Home</li>
              <li class="active" id="stepper">Information Form</li>
              <li class="active" id="stepper">Standard Indexes</li>
              <li class="active" id="stepper">Review Docs</li>
              <li class="active" id="stepper">Upload Docs for Approaval</li>
              <li class="active" id="stepper">Drop RFP / Ask Question / Extra Images / Assuptions ans Risk Consideration</li>
              <li class="active" id="stepper">Drop RFP Detected Question</li>
              <li class="" id="stepper">Drop RFP Selection Preview</li>
              
            </ul>
          </div>
        
      



        </div>
  </div>
</div>
  {% comment %} Progress Bar {% endcomment %}
<div class=" container ">
<form action="/droprfp/ques1/" method="POST">
    <div> <h5 class="mt-5" style="color:dark">Question from uploaded RFP</h5></div>
    {% csrf_token %}
    {% for ques in questions %}
            <div class="form-check mt-3" >
                <label class="form-check-label" style="font-size:.8rem;color:dark" id="A" for="defaultCheck1"><span>{{ques.question}}</span></label>
                <input style="width: 15px; height: 20px;"  class="form-check-input ml-2"   type="checkbox" name="{{ques.id}}"  value="{{ques.id}}" ">
                
            </div>
    {% endfor %} 
    <div class=" mt-5">
        <button type="submit" class="btn btn-dark d-inline btn-sm " style="background-color:#f2f2f2;color:black">Submit</button>
    </form>

</div>
</div>
</div>
</div>

<div class="container mt-2">
  <div class="row">

<div class="">
  <!-- Copyright -->
  <footer class="">

    <!-- Copyright -->
    <div class="footer-copyright " style="font-family:Arial;font-size:.5rem;color:black" >© 2023 Copyright owned by one or more of the KPMG International entities. KPMG International entities provide no services to clients. All rights reserved. KPMG refers to the global organization or to one or more of the member firms of KPMG International Limited (“KPMG International”), each of which is a separate legal entity. KPMG International Limited is a private English company limited by guarantee and does not provide services to clients. For more detail about our structure please visit https://home.kpmg/governance
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer --> 
</div>
</div>
</div>
{% endblock %}

