{% extends "base_second.html" %}
{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
<div class="container ">
                
                
    <div class="mt-2 container" align='center' >
    

    <form action="" method="POST" >
        {% csrf_token %} 
        {{form.as_p}}
        <input type="submit" class="btn btn-dark btn-sm mt-5 d-inline" style="font-size:.7rem;width: 4rem;background-color:#000099;" value="Update">
        <a class="btn btn-dark btn-sm mt-5 " style="font-size:.7rem;width: 4rem;background-color:#000099;" href="{% url 'preview' %}">Done</a>
    </form>
    <a class="btn btn-success btn-sm mt-3 " style="font-size:.6rem;width: 7rem;" href="{% url 'UP' id %}">Upload to Database</a>
    <h6 class=" text-center ml-2  mt-1 display-5" style=font-family:"Arial";font-size:.6rem>Please approve your edited answer to be stored in database</h6>

    
    
    
    </div>
    <div class="row">
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    </div>
    
</div> 

{% endblock %}