{% extends "base_second.html" %} {% block content %} {% load static%}

<form action="{% url 'extraimage' %}" method="POST">
    {% csrf_token %}
    <div class=" container  mt-2 rounded " style="width: 600rem" >
        {% if extra %}
        <div class=" row  "  >
            <div class="col-6">
        
                <h6 class="mt-3 ml-3  " style='font-family:"Arial";font-size:.8rem;width: 30rem;font-color: white;'><strong>Selected Images</strong></h5>
            </div>
            <div class="col-6">
        
                <a
                class="btn btn-dark d-inline btn-sm float-right" style="background-color:#000099"
                  href="{% url 'UploadExtraImage'%}"
                  >Upload</a
                >
            </div>
            {% for e in extra%}
            
                <div class="col-6">
                    <div class="card card-body  border border-dark mt-2" style="width:50 " >
                        <input class="form-check-input ml-1" type="checkbox" name="extraimage" value={{e.id}} id="flexRadioDefault1" checked>
                        <label class="form-check-label ml-4 mb-1" for="flexRadioDefault1" style="font-size:.8rem;"><strong>{{forloop.counter}}</strong></label>
                        
                        <img class="w-40 " src="{{e.image.url}}" alt="First slide" height="250" width="380">
                    </div>
                </div>    
                          
            
            {% endfor %}
        </div>
        {% endif %}
        {% if extrano %}
        <div class=" row  mt-5"  >
            <div class="col-12">
        
                <h6 class="mt-3 ml-3  " style='font-family:"Arial";font-size:.8rem;width: 30rem;;color:dark';><strong>Select the images from the available list below to add in final document</strong></h5>
            </div>
            {% for e in extrano%}
                
                <div class="col-6">
                    <div class="card card-body  border border-dark mt-2" style="width:50 " >
                        <input class="form-check-input ml-1" type="checkbox" name="extraimage" value={{e.id}} id="flexRadioDefault1">
                        <label class="form-check-label ml-4 mb-1" for="flexRadioDefault1" style="font-size:.8rem;"><strong>{{forloop.counter}}</strong></label>
                        
                        <img class="w-40 " src="{{e.image.url}}" alt="First slide" height="250" width="380">
                    </div>
                </div>    
                          
            
            {% endfor %}
            {% endif %}
            <div class=" mt-3 ml-3 col-12">
            <button type="submit" class="btn btn-dark d-inline btn-sm " style="background-color:#000099">SUBMIT</button>
            
                <a
                  class="btn btn-dark d-inline"
                  style="
                    font-size: 0.8rem;
                    width: 4rem;
                    background-color: #f2f2f2;
                    color: black;
                  "
                  href="{% url 'firstpage'%}"
                  >Home</a
                >
              
        </div>
        </div>
    </div>
    


    
    
</form>
<footer class="mt-3">
    <!-- Copyright -->
    <div
      class="footer-copyright"
      style="font-family: Arial; font-size: 0.5rem; color: black"
    >
      © 2023 Copyright owned by one or more of the KPMG International entities.
      KPMG International entities provide no services to clients. All rights
      reserved. KPMG refers to the global organization or to one or more of the
      member firms of KPMG International Limited (“KPMG International”), each of
      which is a separate legal entity. KPMG International Limited is a private
      English company limited by guarantee and does not provide services to
      clients. For more detail about our structure please visit
      https://home.kpmg/governance
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
{%endblock%}
