{% extends "base_third.html" %} {% block content %} {% load static%}

      <div class="row">
        &emsp;
        <div class="col-1">
          
        </div>
        
        <div class="col-10">
          &emsp;
          <p
            class="py-5  text-center"
            style="font-family: Arial; font-size: 1.5rem; color: black"
          >
            <strong>Powered Enterprise Intelligent RFP Builder</strong>
          </p>
          <p
            class="py-2text-center"
            style="font-family: Arial; color: black; font-size: 0.7rem"
          >&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <strong
              >Welcome to the Powered Enterprise Intelligent RFP Builder v1.0.
              This application will currently assist you in the creation of an
              RFP response for the following Powered solutions:</strong
            >
          </p>
          <p
            class="py-2text-center"
            style="font-family: Arial; color: black; font-size: 0.7rem"
          >
            <strong
              ><p
            class="py-2text-center"
            style="font-family: Arial; color: black; font-size: 0.7rem"
          >&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <strong
              >Powered Enterprise for Workday</strong
            >
          </p></strong
            >
          </p>
          <p
            class="py-2text-center"
            style="font-family: Arial; color: black; font-size: 0.7rem"
          >
            <strong
              ><p
            class="py-2text-center"
            style="font-family: Arial; color: black; font-size: 0.7rem"
          >&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <strong
              >Powered Enterprise for Workday Healthcare</strong
            >
          </p></strong
            >
          </p>
          <p
            class="py-2text-center"
            style="font-family: Arial; color: black; font-size: 0.7rem"
          >
            <strong
              ><p
            class="py-2text-center"
            style="font-family: Arial; color: black; font-size: 0.7rem"
          >&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <strong
              >Powered Enterprise for Workday Higher Education</strong
            >
          </p></strong
            >
          </p>
        </div>
        <div class="col-5">
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          &emsp;&emsp;
        </div>
      </div>
      <div class="row">
        <div class="col-5 float-right">
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        </div>
        <div class="col-4 float-right">
          &emsp;&ensp;&ensp;
          <a
            href="/info/details"
            class="btn btn-primary btn-sm active rounded-0"
            style="background-color: #000099"
            role="button"
            >Get Started</a
          >
          <p
            class="mt-1"
            style="font-family: Arial; font-size: 0.6rem; color: white"
          >
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          </p>
        </div>
      </div>
    </head>
  </div>
  


  <!-- Copyright -->
 <footer class="footer fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright" style="font-family:Arial;font-size:.5rem;color:black" >© 2023 Copyright owned by one or more of the KPMG International entities. KPMG International entities provide no services to clients. All rights reserved. KPMG refers to the global organization or to one or more of the member firms of KPMG International Limited (“KPMG International”), each of which is a separate legal entity. KPMG International Limited is a private English company limited by guarantee and does not provide services to clients. For more detail about our structure please visit https://home.kpmg/governance
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer --> 
</html>
{%endblock%}
