<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" href="{% static 'css/doc.css' %}">
<link rel="stylesheet" href="{% static 'css/stepper.css' %}" />
<!-- type questions RFP's -->

<head>

    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
    <script>
        $(document).ready(function(){
            $("#geo").change(function(){
            let geo=$("#geo").val()
            console.log("Geo is",geo)
            mydata={geo:geo};
            $.ajax({
                url:"{% url 'geoadd'%}",
                method:"POST",
                data:mydata,
                success:function(data){
                    console.log("data after calling geoadd_view is ",data.add)
                    let optionHtml="";
                    data.add.forEach(function(item){
                        item_res=item.originaladdress
                        optionHtml+="<option value='"+item_res+"'>"+item_res+"</option>"
                        console.log(item)
                    })
                    $("#add").html(optionHtml)
                    
                }
            })
            })
            
        });
        

    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFP</title>
    <div class=" bg  row  ">
        <div class=" col-12 container  " >
            <div class=" col-1  " >
                <a href="{%url 'index'%}"><img class="float-left" src="{% static 'images/KPMG_logo.png' %}" height="70" width="100"></a>
            </div>    
            <div class=" col-12 " >
                <div class=" col-12  " >
                <h6 class="display-5 text-center mt-4 ml-2 " style="font-family:Arial;font-size:1rem;color:White"><strong class="ml-5">Powered Enterprise Intelligent RFP Builder</strong> <a class="btn btn-success btn-sm   float-right   " style="font-size:.6rem;width: 8rem;background-color:#000099;" href="{% url 'login'%}">User Login</a><a class="btn btn-success btn-sm  mr-1 float-right   " style="font-size:.6rem;width: 8rem;background-color:#000099;" href="{% url 'loginapprover'%}">Approver Login</a></h6>
                
                </div>
                
            </div>
                
        </div>   
        
    </div>
        
    


    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/firstpage.css' %}">
    
    <div class="border-bottom border-dark"></div>
    <title>RFP</title>
</head>


<body>
    {% comment %} Progress Bar {% endcomment %}
    <div class=" container " >
        <div class="row ml-5" >
            <div class="col-12 container ml-5">
                  <div class="wrapper-progressBar- ml-5">
                    <ul class="progressBar ml-5">
                      <li class="active ml-5" id="stepper">Home</li>
                      <li class="active" id="stepper">Contact Information</li>
                      <li class="" id="stepper">Core Content</li>
                      <li class="" id="stepper">Additional Content</li>
                      <li class="" id="stepper">Finalise & Download</li>
                      {% comment %} <li id="stepper">Drop RFP & Ask Question</li>
                      <li class="" id="stepper">Drop RFP / Ask Question</li>
                      <li class="" id="stepper">Extra Images</li>
                      <li class="" id="stepper">Assuption and Risk Consideration</li> {% endcomment %}
                      
                    </ul>
                  </div>
                
                  <a class="float-right" href="mailto:pholdridge@kpmg.com.au?subject=Feedback for 'Powered Enterprise Intelligent RFP Builder'&body=Hi Paul">
                    <button id="btnOutlook" class="float-right btn btn-sm border border-success" >Feedback</button>
                </a>
        
        
        
                </div>
                
          </div>
          {% comment %} Progress Bar {% endcomment %}
          {% comment %} Heading {% endcomment %}
          <div class=" container " >
            <div class="row-12 text-center ">
                <div class="col-12 text-center ">
                    <h4>Contact Information</h4>
            </div>
        </div>
    </div>
    {% comment %} Heading {% endcomment %}
        <div class="row " >
            <div class="col-2 ">
                
            </div>
            
            <div class="col-2  ">     
                <!--FORM-->
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;
                    <form action="/doc/content" method="POST">
                        {% csrf_token %}
                    
                    <div class="form-group">

                    {% comment %} <label for="username" class="btn btn-info btn-sm border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>UserName*</strong></label>
                    <input type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="UserName" name="username"  placeholder="Type Or Create Your User Name">

                    <label for="email" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Email*</strong></label>
                    <input type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="email" name="email"  placeholder="Type Your Email Address"> {% endcomment %}

                    <label for="clientname" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Full Name*</strong></label>
                    <input type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="clientname_id" name="clientname"  placeholder="KPMG International Cooperative">
                    
                    <label for="showname" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Short Name*</strong></label>
                    <input type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="showname_id" name="showname" style="width: 10rem" placeholder="KPMG">
                    
                    <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Zip/Postal Code*</strong></label>
                    <input  type="number" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="address_id" name="Postal_Code" style="width: 10rem;height:100px;" placeholder="" onchange="triggerCall(this.value)"></input>
                    
                    <label for="countries" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Geo*</strong></label>
                    <input  type="text" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="countries" name="countries" style="width: 10rem;height:100px;" placeholder="" readonly></input>

                    <!-- <div>
                        <label for="countries" class="btn btn-info btn-sm border border-dark mt-1" style="font-size:.6rem;background-color:#000099;"><strong>Client Geo*</strong></label>
                    </div>
                    <div>
                        <select class="custom-select custom-select-lg border border-dark"  style="font-size:.7rem;width: 15rem" name="countries" id="countries" style="width: 10rem">
                        <option selected value="">--country--</option> -->
                        <!-- <option value="US">United States of America</option>
                        <option selected value="AU">Australia</option>
                        <option  value="UK">United Kingdom</option> -->
<!--                         <option value="UK">UK</option> -->
                    
                        <!-- </select>
                    
                    </div> -->

                    <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Address Line 1*</strong></label>
                    <input  type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="dpdlOtherCountry" name="address_line1" style="width: 10rem;height:100px;" placeholder=""></input>
                    {% comment %} <input type="text" class="form-control divOtherCountry " id="dpdlOtherCountry"
                                  placeholder="Other Country"> {% endcomment %}
                    <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Address Line 2</strong></label>
                    <input  type="text" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="address_id" name="address_line2" style="width: 10rem;height:100px;" placeholder=""></input>

                    <label for="state" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>State/Region*</strong></label>
                    <input  type="text" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="state" name="state" style="width: 10rem;height:100px;" placeholder="" readonly></input>

                    <!-- <div>
                      <label for="state" class="btn btn-info btn-sm border border-dark mt-1" style="font-size:.6rem;background-color:#000099;"><strong>State/Region*</strong></label>
                  </div>
                  <div>
                      <select class="custom-select custom-select-lg border border-dark"  style="font-size:.7rem;width: 15rem" name="address_line3" id="state" style="width: 10rem">
                      <option selected value="">--state--</option> -->
                      <!-- <option value="US">United States of America</option>
                      <option selected value="AU">Australia</option>
                      <option  value="UK">United Kingdom</option> -->
<!--                         <option value="UK">UK</option> -->
      
                      <!-- </select>
                  
                  </div> -->
                    
                    <!-- <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>State/Region*</strong></label>
                    <input  type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="address_id" name="address_line4" style="width: 10rem;height:100px;" placeholder=""></input> -->

                    <!-- <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Town/City*</strong></label>
                    <input  type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="address_id" name="address_line3" style="width: 10rem;height:100px;" placeholder=""></input> -->
                    
                    <label for="city" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>City/Town*</strong></label>
                    <input  type="text" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="city" name="address_line4" style="width: 10rem;height:100px;" placeholder="" readonly></input>
                    <!-- <div>
                      <label for="state" class="btn btn-info btn-sm border border-dark mt-1" style="font-size:.6rem;background-color:#000099;"><strong>City/Town*</strong></label>
                    </div>
                    <div>
                      <select class="custom-select custom-select-lg border border-dark"  style="font-size:.7rem;width: 15rem" name="address_line4" id="city" style="width: 10rem">
                      <option selected value="">--City--</option> -->
                      <!-- <option value="US">United States of America</option>
                      <option selected value="AU">Australia</option>
                      <option  value="UK">United Kingdom</option> -->
<!--                         <option value="UK">UK</option> -->
      
                      <!-- </select>
                  
                   </div> -->

                    <!-- <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Zip/Postal Code*</strong></label>
                    <input  type="number" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="address_id" name="Postal_Code" style="width: 10rem;height:100px;" placeholder=""></input> -->
                    <button type="submit" class="btn btn-primary btn-sm mt-3 " style="background-color:#000099;">Next</button>
                    <a
                        class="btn btn-dark  mt-3"
                        style="
                          font-size: 0.7rem;
                          width: 4rem;
                          background-color: #f2f2f2;
                          color: black;
                        "
                        onclick="history.back()"
                        >Home</a>
                    
                    
                    
            </div>
        </div> 
    
         
        
        <div class="col-4  ">
                
        </div>
            <div class="col-2 ">
                <!--FORM-->
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;
                
                
                    <form action="/doc/content" method="POST">
                        {% csrf_token %}
                    
                    <div class="form-group">
                        <div>
                            <label for="industry" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Powered Industry*</strong></label>
                            <select class="custom-select custom-select-lg  border border-dark" style="font-size:.7rem;width: 15rem" name="industry" style="width: 10rem">
                                <option selected value="">--Industry--</option>        

                                <option  value="Agnostic">Agnostic</option>
    
                                <option  value="Healthcare">Healthcare</option>
    
                                <option value="Higher Education">Higher Education</option>
    
                                <option value="Manufacturing">Manufacturing</option>
    
                                <option value="Retail">Retail</option>
    
                                <option value="Transportation">Transportation</option>
    
                                <option value="Energy">Energy</option>
                            
                            
                            </select>
                        
                        </div>
                    
                    <div>
                        <label for="countries" class="btn btn-info btn-sm border border-dark mt-1" style="font-size:.6rem;background-color:#000099;"><strong>KPMG Lead Geo</strong></label>
                    </div>
                    <div>
                        <select id="geo" class="custom-select custom-select-lg border border-dark" name="geo" style="font-size:.7rem;width: 15rem"  style="width: 10rem">
                        <option selected value="">--country--</option>  
                        {% for g in geo%}
                        {% comment %} <option value="US">{{g.KPMGgeo}}</option> {% endcomment %}
                        <option  value="{{g.id}}" name="kpmgleadgeo">{{g.displayKPMGgeo}}</option>
<!--                         <option value="UK">UK</option> -->
                        {% endfor %}
                        </select>
                    
                    </div>

                    <div>
                        <label for="countries" class="btn btn-info btn-sm border border-dark mt-1" style="font-size:.6rem;background-color:#000099;"><strong>KPMG Address</strong></label>
                    </div>
                    <div>
                        <select id="add" class="custom-select custom-select-lg border border-dark" style="font-size:.7rem;width: 15rem" name="kpmg_address" style="width: 10rem">
                        
                        </select>
                    
                    </div>
                    <div>
                        <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>KPMG Lead Partner</strong></label>
                    <input  type="text" required="" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="kpmglead" name="KPMGLEADPARTNER" style="width: 10rem;height:100px;" placeholder=""></input>
                    </div>
                    {% comment %} <div>
                        <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>KPMG Tax Reference</strong></label>
                    <input  type="text" required="" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="kpmglead" name="KPMGTAXREFERENCE" style="width: 10rem;height:100px;" placeholder=""></input>
                    </div> {% endcomment %}
                    <div class="col-2  ">
                
                    </div>
                </div>
                    </form>                         
                      
                    </div>
                    <script>src='https://code.jquery.com/jquery-3.7.0.min.js'</script>
                    <script>
                      let auth_token;
                      $(document).ready(function() {
                          $.ajax({
                              type: 'get',
                              url: 'https://www.universal-tutorial.com/api/getaccesstoken',
                              success: function(data) {
                                  console.log(data, 'country data logs')
                                  $('#loader').hide();
                                  auth_token = data.auth_token
                                  getCountry(data.auth_token);
                              },
                              beforeSend:function() {
                                $('#loader').show();
                              },
                              error: function(error) {
                                  console.log(error);
                              },
                              headers: {
                                "Accept": "application/json",
                                "api-token": "B92gGsuz8ZNNyOyx8scEK7ge-veOMCMoP4lHuXNk0IHlLX5vs8m4_mIsg1SWoSJkX3g",
                                "user-email": "narayanac@kpmg.com"
                              }
                            
                          })
                          $('#countries').change(function() {
                                getState(auth_token);
                          })
                          $('#state').change(function() {
                              getCity(auth_token);
                          })
                        })
                      console.log(auth_token, 'auth token')


                      function getCountry(auth_token) {
                        $.ajax({
                            type: 'get',
                            url: 'https://www.universal-tutorial.com/api/countries/',
                            success: function(data) {
                                console.log(data, 'dataaa')
                                $('#loader').hide();
                                console.log(data, 'dataaaa')
                                data.forEach(element => {
                                    $('#countries').append('<option value="'+element.country_name+'">'+element.country_name+'</option>');
                                });
                              //getState(auth_token)
                            },
                            beforeSend:function() {
                              $('#loader').show();
                            },
                            error: function(error) {
                                console.log(error);
                            },
                            headers: {
                                "Authorization": "Bearer "+ auth_token,
                                "Accept": "application/json"
                            }
                          
                        })
                      }

                      window.onload = function() {
                        console.log('inside load')
                        // getCountry();
                      };

                      function triggerCall(value) {
                        console.log(value,'value inside call')
                        getZipcodeStateCity(value)
                      }

                      function getZipcodeStateCity(zipcode) {
                        var api_key = 'aef66250-202a-11ee-b368-a198d22a1027'

                        console.log(zipcode, 'zipcode input')

                        $.ajax({
                              type: 'get',
                              url: 'https://app.zipcodebase.com/api/v1/search?apikey=' + api_key + '&codes='+ zipcode,
                              success: function(data) {
                                  $('#loader').hide();
                                  $('#state').empty();
                                  console.log(data, 'data')
                                  console.log(data.results[zipcode][0], 'first result')
                                  var output_value = data.results[zipcode][0]

                                  var country = document.getElementById('countries');
                                  country.value = output_value['country_code'];
                                  var state = document.getElementById('state');
                                  state.value = output_value['state'];
                                  var city = document.getElementById('city');
                                  city.value = output_value['province'];
                                //   data.forEach(element => {
                                //       $('#state').append('<option value="'+element.state_name+'">'+element.state_name+'</option>');
                                //   });
                                //getCity(auth_token);
                              },
                              beforeSend:function() {
                                  $('#loader').show();
                              },
                              error: function(error) {
                                  console.log(error);
                              },
                              headers: {
                                //   "Authorization": "Bearer "+ auth_token,
                                  "Accept": "application/json"
                              }
                            
                          })
                      }


                      function getState(auth_token) {
                              let country_name = $('#countries').val();
                          $.ajax({
                              type: 'get',
                              url: 'https://www.universal-tutorial.com/api/states/'+country_name,
                              success: function(data) {
                                  $('#loader').hide();
                                  $('#state').empty();
                                  console.log(data)
                                  data.forEach(element => {
                                      $('#state').append('<option value="'+element.state_name+'">'+element.state_name+'</option>');
                                  });
                                //getCity(auth_token);
                              },
                              beforeSend:function() {
                                  $('#loader').show();
                              },
                              error: function(error) {
                                  console.log(error);
                              },
                              headers: {
                                  "Authorization": "Bearer "+ auth_token,
                                  "Accept": "application/json"
                              }
                            
                          })
                      }

                      function getCity(auth_token) {
                              let state_name = $('#state').val();
                          $.ajax({
                              type: 'get',
                              url: 'https://www.universal-tutorial.com/api/cities/'+state_name,
                              success: function(data) {
                                  $('#loader').hide();
                                  $('#city').empty();
                                  data.forEach(element => {
                                      $('#city').append('<option value="'+element.city_name+'">'+element.city_name+'</option>');
                                  });
                              },
                              error: function(error) {
                                  console.log(error);
                              },
                              beforeSend:function() {
                                  $('#loader').show();
                                              },
                              headers: {
                                  "Authorization": "Bearer "+ auth_token,
                                  "Accept": "application/json"
                              }
                            
                          })
                      }
                  

                      $(document).ready(function () {
                        $(".divOtherCountry").hide();
                        $(".divOtherState").hide();
                        $(".divOtherCity").hide();
                        $("#dpdlCountry").change(function () {
                          debugger;
                          if ($("#dpdlCountry").val() == "Other") {
                            $(".divOtherCountry").show();
                            const option = "<option val='Other'>Other</option>";
                            $("#dpdlState").append(option);
                          } else {
                            $(".divOtherCountry").hide();
                            $(".divOtherState").hide();
                            $(".divOtherCity").hide();
                            $("#dpdlState").html("<option selected>Choose State</option>");
                            $("#dpdlCity").html("<option selected>Choose City</option>");
                            const states = stateList.filter(m => m.Country == $("#dpdlCountry").val() || m.Country == "Other");
                            states.forEach(element => {
                              const option = "<option val='" + element.State + "'>" + element.State + "</option>";
                              $("#dpdlState").append(option);
                            });
                          }
                        });
                  
                        $("#dpdlState").change(function () {
                          debugger;
                          if ($("#dpdlState").val() == "Other") {
                            $(".divOtherState").show();
                            const option = "<option val='Other'>Other</option>";
                            $("#dpdlCity").append(option);
                          } else {
                            $(".divOtherState").hide();
                            $(".divOtherCity").hide();
                            $("#dpdlCity").html("<option selected>Choose City</option>");
                            debugger;
                            const states = cityList.filter(m => m.State == $("#dpdlState").val() || m.State == "Other");
                            states.forEach(element => {
                              const option = "<option val='" + element.city + "'>" + element.city + "</option>";
                              $("#dpdlCity").append(option);
                            });
                          }
                        });
                  
                        $("#dpdlCity").change(function () {
                          debugger;
                          if ($("#dpdlCity").val() == "Other") {
                            $(".divOtherCity").show();
                          } else {
                            $(".divOtherCity").hide();
                          }
                        });
                      });
                    </script>
                  
                  </body>
            </div>  
        </div>  
    </div> 
    

        
               
    
    <!-- https://www.universal-tutorial.com/rest-apis/free-rest-api-for-country-state-city -->
    <!-- B92gGsuz8ZNNyOyx8scEK7ge-veOMCMoP4lHuXNk0IHlLX5vs8m4_mIsg1SWoSJkX3g -->

   
    <div class="container">
      <!-- Copyright -->
     <footer >
    
      <!-- Copyright -->
      <div class="container " style="font-family:Arial;font-size:.5rem;color:black" >© 2023 Copyright owned by one or more of the KPMG International entities. KPMG International entities provide no services to clients. All rights reserved. KPMG refers to the global organization or to one or more of the member firms of KPMG International Limited (“KPMG International”), each of which is a separate legal entity. KPMG International Limited is a private English company limited by guarantee and does not provide services to clients. For more detail about our structure please visit https://home.kpmg/governance
      </div>
      <!-- Copyright -->
    
    </footer>
    <!-- Footer --> 
    </div>
    </html>


