<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'css/doc.css' %}">
<!-- type questions RFP's -->

<head>

    <meta charset="UTF-8">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        
    <script>
        $(document).ready(function(){
            $("#geo").change(function(){
            let geo=$("#geo").val()
            console.log("Geo is",geo)
            mydata={geo:geo};
            $.ajax({
                url:"{% url 'geoadd'%}",
                method:"POST",
                data:mydata,
                success:function(data){
                    console.log("data after calling geoadd_view is ",data.add)
                    let optionHtml="";
                    data.add.forEach(function(item){
                        item_res=item.originaladdress
                        optionHtml+="<option value='"+item_res+"'>"+item_res+"</option>"
                        console.log(item)
                    })
                    $("#add").html(optionHtml)
                    
                }
            })
            })
            
        });
        

    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class=" bg row">
        <div class="col-2  ">
            <a href="{%url 'index'%}"><img src="{% static 'images/KPMG_logo.png' %}" height="80" width="110"></a>
        </div>
        <div class="col-8 mt-4 ">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <h6 class="d-inline text-center ml-2  display-5" style="font-family:Arial;font-size:1rem;color:White">
                <strong>Intelligent Request for Proposal (RFP) Response Builder</strong></h6>
        </div>
        <div class=" col-2 mt-3   ">
            <div class="row">
            	<a class="btn btn-success btn-sm d-inline  float-right mt-3 mr-5" style="font-size:.7rem;width: 9rem;background-color:#000099;" href="{% url 'login'%}">Approve Question Login</a>
            </div>    
        </div>
        
    </div>


    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/firstpage.css' %}">
    <div class="border-bottom border-dark"></div>
    <title>RFP</title>
</head>


<body>
    <div class=" " >
        <div class="row" >
            <div class="col-2 ">
                
            </div>
            
            <div class="col-2  ">     
                <!--FORM-->
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;
                    <form action="/doc/content" method="POST">
                        {% csrf_token %}
                    
                    <div class="form-group">
                    <label for="clientname" class="btn btn-info btn-sm border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Full Name*</strong></label>
                    <input type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="clientname_id" name="clientname"  placeholder="KPMG International Cooperative">
                    
                    <label for="showname" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Short Name*</strong></label>
                    <input type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="showname_id" name="showname" style="width: 10rem" placeholder="KPMG">

                    
                    
                    <div>
                        <label for="countries" class="btn btn-info btn-sm border border-dark mt-1" style="font-size:.6rem;background-color:#000099;"><strong>Client Geo</strong></label>
                    </div>
                    <div>
                        <select class="custom-select custom-select-lg border border-dark"  style="font-size:.7rem;width: 15rem" name="countries" style="width: 10rem">
                    
                        <option value="US">US</option>
                        <option selected value="Australia">Australia</option>
<!--                         <option value="UK">UK</option> -->
                    
                        </select>
                    
                    </div>

                    <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Address Line 1*</strong></label>
                    <input  type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="address_id" name="address_line1" style="width: 10rem;height:100px;" placeholder=""></input>

                    <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Address Line 2*</strong></label>
                    <input  type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="address_id" name="address_line2" style="width: 10rem;height:100px;" placeholder=""></input>

                    <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Client Zip/Postal Code*</strong></label>
                    <input  type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="address_id" name="Postal_Code" style="width: 10rem;height:100px;" placeholder=""></input>
                    <button type="submit" class="btn btn-primary btn-sm mt-3 " style="background-color:#000099;">NEXT</button>
                    
                    
                    
                    
            </div> 
        </div> 
        <div class="col-4  ">
                
        </div>
            <div class="col-2 ">
                <!--FORM-->
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;
                
                
                    <form action="/doc/content" method="POST">
                        {% csrf_token %}
                    
                    <div class="form-group">
                        <div>
                            <label for="industry" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>Powered Industry</strong></label>
                            <select class="custom-select custom-select-lg  border border-dark" style="font-size:.7rem;width: 15rem" name="industry" style="width: 10rem">
                            
                            <option  value="Agnostic">Agnostic</option>
                            <option selected value="Healthcare">Healthcare</option>
                            <option value="Higher Education">Higher Education</option>
                            <option value="Life Insurance">Financial Services</option>
                            
                            </select>
                        
                        </div>
                    
                    <div>
                        <label for="countries" class="btn btn-info btn-sm border border-dark mt-1" style="font-size:.6rem;background-color:#000099;"><strong>KPMG Geo</strong></label>
                    </div>
                    <div>
                        <select id="geo" class="custom-select custom-select-lg border border-dark" name="geo" style="font-size:.7rem;width: 15rem"  style="width: 10rem">
                        {% for g in geo%}
                        {% comment %} <option value="US">{{g.KPMGgeo}}</option> {% endcomment %}
                        <option selected value="{{g.id}}">{{g.KPMGgeo}}</option>
<!--                         <option value="UK">UK</option> -->
                        {% endfor %}
                        </select>
                    
                    </div>

                    <div>
                        <label for="countries" class="btn btn-info btn-sm border border-dark mt-1" style="font-size:.6rem;background-color:#000099;"><strong>KPMG Address</strong></label>
                    </div>
                    <div>
                        <select id="add" class="custom-select custom-select-lg border border-dark" style="font-size:.7rem;width: 15rem" name="kpmg_address" style="width: 10rem">
                        
                        </select>
                    
                    </div>
                    <div>
                        <label for="address" class="btn btn-info btn-sm mt-1 border border-dark" style="font-size:.6rem;background-color:#000099;"><strong>KPMG LEAD PARTNER</strong></label>
                    <input  type="text" required="true" class="form-control border border-dark input-sm" style="font-size:.7rem;width: 15rem" id="kpmglead" name="KPMGLEADPARTNER" style="width: 10rem;height:100px;" placeholder=""></input>
                    </div>
                    
                    </form>
            </div>    
        </div>         
    </div>
</div>
</body>

</div>
</html>
