{% extends "base_second.html" %} {% block content %}
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<div class="container  mt-3">
<form class="" action="{% url 'SelectedIndex2' show2.id%}" method="POST">
  {% csrf_token %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mt-1">{{show2.doc_index}}</div>
        {% if show2.file_link %}
        <iframe
          src="https://view.officeapps.live.com/op/embed.aspx?src={{show2.file_link}}"
          title="W3Schools Free Online Web Tutorials"
          width="100%"
          height="450px"
        ></iframe>
        {% else %}
        <textarea rows="18" cols="150" readonly>
          There is no file present for this section. Drop a manually edited file at the end.
          To merge all the documents into one.
        </textarea>
        {% endif %}
      </div>
    </form>
      

    <button
      type="submit"
      class="btn btn-dark btn-sm d-inline ml-3"
      style="font-size: 0.7rem; width: 5rem; background-color: #000099"
    >
      Next
    </button>
    <a
      class="btn btn-dark d-inline ml-1 mr-1"
      style="
        font-size: 0.7rem;
        width: 4rem;
        background-color: #f2f2f2;
        color: black;
      "
      href="{% url 'firstpage'%}"
      >Home</a
    >
    {% if show.doc_index in standard_sections or show.file_link is None %}
    {% else %}
    <a class="btn btn-dark d-inline ml-1 mr-1"
    style="
      font-size: 0.7rem;
      width: 5rem;
      background-color: #f2f2f2;
      color: black;
    " href='{{show2.file_link}}' Download>Download</a>
    {% endif %}
    <a
    class="btn btn-dark d-inline"
    style="
      font-size: 0.7rem;
      width: 4rem;
      background-color: #f2f2f2;
      color: black;
    "
    onClick="document.getElementById('q_n_a').scrollIntoView();"
    >Q&A</a>

{% comment %} #image {% endcomment %}
    <div class="container">
      
        <button
          class="btn btn-success mt-3"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
          style="background-color:#000099"
        >
          Images >
        </button>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            {% for e in IMGSEC%}
            
                <div class="col-6">
                    <div class="card card-body  border border-dark mt-2" style="width:50 " >
                        <input class="form-check-input ml-1" type="checkbox" name="sectionextraimage" value={{e.id}} id="flexRadioDefault1" >
                        <label class="form-check-label ml-4 mb-1" for="flexRadioDefault1" style="font-size:.8rem;"><strong>{{forloop.counter}}</strong></label>
                        
                        <img class="w-40 " src="https://rfpstoragecheck.blob.core.windows.net/rfpstorage/Section_Documents/{{industry}}/{{country}}/Images/{{e.image_link}}" alt="First slide" height="250" width="380">
                    </div>
                </div>    
                          
            
            {% endfor %} {% csrf_token %}
            {% ifnotequal Noimage "A"  %}
            <div class="col-6">
              <div class="card card-body  border border-dark mt-2" style="width:20 " >
                  
                {{Noimage}}
              </div>
          </div>
          {% endifnotequal %} 
            
            
            </div>
          </div>
        </div>



{% comment %} #image {% endcomment %}








  <div>
    <div />
    {% comment %} {% if Quest %} {% endcomment %}
    <p class="font-weight-bold mt-2" style="font-size: 0.8rem">
      Please Input Addition Queries Below
    </p>
    <small style="font-size: 0.7rem"
      >Based On Question Typed Our AI Will Provide You With 3 Best Answers As
      An Options</small
    >
    <form id='q_n_a' action="{% url 'secondpage'%}" method="GET">
      <input
        type="text"
        class="form-control border border-dark"
        id="question"
        name="Query"
        placeholder="Enter Question"
        style="font-size: 0.7rem; width: 69rem"
      />
      <div class="d-inline float-right">
        <button
          type="submit"
          class="btn btn-dark btn-sm d-inline"
          style="font-size: 0.7rem; width: 7rem; background-color: #000099"
        >
          Submit Question
        </button>
        {% comment %} {% if c%} {% endcomment %}
        <a
          class="btn btn-dark btn-sm mt-3 mb-4 d-inline"
          style="font-size: 0.7rem; width: 4rem; background-color: #000099"
          href="{% url 'preview'%}"
          >Preview Q&A</a
        >
        {% comment %} {% endif %} {% endcomment %}
      </div>
    </form>

    {% comment %} {% endif %} {% endcomment %}
  </div>
  </div>

{% endblock content %}
