{% extends "base_second.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/stepper.css' %}" />


<form class="" action="{% url 'SelectedIndex2' show.id%}" method="POST">
  {% csrf_token %}
        {% comment %} Progress Bar {% endcomment %}
        <div class="container ">
        <div class="row">
          <div class="col-12 container ">
                <div class="wrapper-progressBar">
                  <ul class="progressBar">
                    <li class="active" id="stepper">Home</li>
                    <li class="active" id="stepper">Information Form</li>
                    <li class="active" id="stepper">Standard Indexes</li>
                    <li class="active" id="stepper">Review Standard Docs</li>
                    <li class="" id="stepper">Upload Docs</li>
                    <li id="stepper">Drop RFP & Ask Question</li>
                    <li class="" id="stepper">Drop RFP / Ask Question / Extra Images / Assuptions ans Risk Consideration</li>
                    
                  </ul>
                </div>
              
            
      
      
      
              </div>
        </div>
      </div>
        {% comment %} Progress Bar {% endcomment %}
  <script>
    // function copyClipboard() {
      // let copyText = document.querySelector(".copy-text");
      // console.log(copyText, 'copy')
      // copyText.querySelector("button").addEventListener("click", function () {
      //   let input = copyText.querySelector("input.text");
      //   input.select();
      //   document.execCommand("copy");
      //   copyText.classList.add("active");
      //   window.getSelection().removeAllRanges();
      //   setTimeout(function () {
      //     copyText.classList.remove("active");
      //   }, 2500);
      // });
    // }
    function copyClipboard(text) {
      // Get the text field
      // var copyText = document.getElementById("myInput");
      // var copText = "{{c}}";

      // Select the text field
      // copyText.select();
      // copyText.setSelectionRange(0, 99999); // For mobile devices

      // Copy the text inside the text field
      // navigator.clipboard.writeText(copyText.value);
      navigator.clipboard.writeText(text);
      
      // Alert the copied text
      alert("Copied the text: " + text);
    }
    

  </script>
  <div class="container mb-2">
    <div class="row">
      <div class="col-12">
        <div class="mt-1">{{show.doc_index}}</div>
        {% if show.doc_index == 'Title Page' %}
          <!-- <img
            src="{{image_url.image.url}}"
            width="100%"
            height="450px"
          > -->
          <iframe
            src="https://view.officeapps.live.com/op/embed.aspx?src={{image_url.cloud_link}}"
            title="W3Schools Free Online Web Tutorials"
            width="100%"
            height="450px"
          ></iframe>
        {% else %}
          <iframe
            src="https://view.officeapps.live.com/op/embed.aspx?src={{show.file_link}}"
            title="W3Schools Free Online Web Tutorials"
            width="100%"
            height="450px"
          ></iframe>
        {% endif %}
      </div>
      
      <button
      type="submit"
      class="btn btn-dark btn-sm d-inline"
      style="font-size: 0.7rem; width: 7rem; background-color: #000099; margin-right: 5px;"
      >
        Next
      </button>
      <a
        class="btn btn-dark d-inline"
        style="
          font-size: 0.7rem;
          width: 4rem;
          background-color: #b9b9b9;
          color: black;
        "
        href="{% url 'firstpage'%}"
        >Home</a
      >
      </form>
      {% if show.doc_index == 'Title Page' or show.doc_index in standard_sections %}
      {% else %}
        <a class="btn btn-dark d-inline ml-1 mr-1"
        style="
          font-size: 0.7rem;
          width: 5rem;
          background-color: #f2f2f2;
          color: black;
        " href='{{show.file_link}}' Download>Download</a>
        <a
        class="btn btn-dark d-inline"
        style="
          font-size: 0.7rem;
          width: 4rem;
          background-color: #f2f2f2;
          color: black;
        "
        onClick="document.getElementById('chat_gpt').scrollIntoView();"
        >GPT</a>
      {% endif %}

      <!-- <input type="button" onClick="document.getElementById('middle').scrollIntoView();" /> -->
    </div>
    {% if show.doc_index == 'Title Page' %}
    {% else %}
    <div class="row">
      <div class="col-6">
        <div class="">
          <strong
            class="float-centre"
            style="font-size: 1.5rem; font-family: verdana; color: black"
            class="ml-3 mt-1 mb-5 float-center"
            >&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;CHAT
            GPT</strong
          >
        </div>
        <div id="chat_gpt">
          <h4
            class="float-centre mt-1"
            style="font-size: 0.7rem; font-family: verdana; color: black"
            class="mb-5"
          >
            Based On Question Typed Our AI Will Provide You With Best Answers
          </h4>
        </div>
        <div>
          <form action="{% url 'SelectedIndex'%}" method="POST">
            {% csrf_token %}
            <div>
              <input
                type="text"
                class="form-control border border-dark mt-3"
                id="question"
                name="gtp_question"
                placeholder="Enter Question"
                style="font-size: 0.7rem; width: 30rem"
              />
            </div>
            <div class="mt-1">
              <button
                type="submit"
                class="btn btn-dark btn-sm d-inline"
                style="
                  font-size: 0.7rem;
                  width: 7rem;
                  background-color: #000099;
                "
              >
                Submit Question
              </button>
            </div>
          </form>
          <div class="mt-3">
            <strong style="font-size: 1.2rem" class="mt-5 float-center"
              >RESULTS</strong
            >
          </div>
          <div
            class="textarea border border-secondary rounded"
            style="
              font-size: 1rem;
              width: 35rem;
              height: 16rem;
              background-color: rgb(151, 139, 139);
              color: white;
            "
          >
            

            Question: {{gtp_question}}
            Answer: {{c}}
            {% if c %}
              <button name="{{c}}" onclick="copyClipboard(name)">Copy text</button>
            {% endif %}

            
            
            <!-- <input type="text" class="text" value="david@stylus.co.za" /> -->

            <!-- <div class="copy-text">
              <input type="text" class="text" value="david@stylus.co.za" />
              <button><i class="fa fa-clone"></i></button>
            </div> -->
          </div>
        </div>
        <!-- <div>
          {% if c %}
            <button name="{{c}}" onclick="copyClipboard(name)">Copy text</button>
          {% endif %}
        </div> -->
        
      </div>
      
      
    </div>
    {% endif %}
    <!-- <input type="text" value="{{c}}" id="myInput"> -->
    <!-- {% if c %}
      <button name="{{c}}" onclick="copyClipboard(name)">Copy text</button>
    {% endif %} -->
    <!-- <div class="copy-text">
      <button style="position: absolute; top: 0; right: 0;"><i class="fa fa-clone"></i></button>
      <input type="text" class="text" name="chatgpt" value="some text to copyyyyyy!!!!" />
    </div> -->

    
  </div>

  
  <div class="container ">
    <div class="row">

  <div class="">
    <!-- Copyright -->
    <footer class="">
  
      <!-- Copyright -->
      <div class="footer-copyright " style="font-family:Arial;font-size:.5rem;color:black" >© 2023 Copyright owned by one or more of the KPMG International entities. KPMG International entities provide no services to clients. All rights reserved. KPMG refers to the global organization or to one or more of the member firms of KPMG International Limited (“KPMG International”), each of which is a separate legal entity. KPMG International Limited is a private English company limited by guarantee and does not provide services to clients. For more detail about our structure please visit https://home.kpmg/governance
      </div>
      <!-- Copyright -->
    
    </footer>
    <!-- Footer --> 
  </div>
</div>
</div>
{% endblock content %}
