{% extends "base_user.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/stepper.css' %}" />

  {% comment %} Progress Bar {% endcomment %}
  <div class="container ml-5">
  <div class="row ml-5">
    <div class="col-12 container ml-5">
      <div class="wrapper-progressBar ml-5">
        <ul class="progressBar ml-5">
          <li class="active ml-5" id="stepper">Home</li>
          <li class="active" id="stepper">User Login</li>
          <li class="active" id="stepper">Add Standard Section</li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  {% comment %} Progress Bar {% endcomment %}

<body>
    <div class="container " >
        <div class="col-3 container mt-3 ">
            <strong>Add Standard Section</strong>
        </div>
        <div class="row " >
            <div class="col-3  ">
                &emsp;&emsp;&emsp;&emsp;&emsp;
            </div>
            
            
            
            <div class="col-3 ml-5 ">     
                <!--FORM-->
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <form action="/userstandardsectiondata/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    
                    <div class="form-group">

                    <label for="clientname" class="d-inline btn btn-info btn-sm border border-dark" style="font-size:.7rem;background-color:#000099;"><strong>RFP_ID</strong></label>
                    <input type="text" required="true" class="d-inline form-control border border-dark input-sm" style="font-size:.7rem;width: 20rem" id="Rfp_Id" name="Rfp_Id" style="width: 25rem" placeholder="RFP Document Name">
                    
                    

                    <label for="clientname" class="d-inline btn btn-info btn-sm border border-dark" style="font-size:.7rem;background-color:#000099;"><strong>Country*</strong></label>
                    <div>
                        <select class="custom-select custom-select-lg border border-dark"  style="font-size:.7rem;width: 20rem" name="countries" style="width: 20rem">
                        <option selected value="">--country--</option>    
                        <option value="US">US</option>
                        <option selected value="AU">AU</option>
                        <option value="UK">UK</option>
                    
                        </select>
                    
                    </div>
                    
                    <label for="clientname" class="d-inline btn btn-info btn-sm border border-dark" style="font-size:.7rem;background-color:#000099;"><strong>Powered Industry*</strong></label>
                    <div>
                        
                        <select class="custom-select custom-select-lg  border border-dark" style="font-size:.7rem;width: 20rem" name="industry" style="width: 10rem">
                        <option selected value="">--Industry--</option>    
                        <option  value="Agnostic">Agnostic</option>
                        <option  value="Healthcare">Healthcare</option>
                        <option value="Higher Education">Higher Education</option>
                        
                        
                        </select>
                    
                    </div>

                    <label for="clientname" class="d-inline btn btn-info btn-sm border border-dark" style="font-size:.7rem;background-color:#000099;"><strong>Section*</strong></label>
                    <div>
                        
                        <select class="custom-select custom-select-lg  border border-dark" style="font-size:.7rem;width: 20rem" name="Section" style="width: 10rem">
                        <option selected value="">--Standard Section--</option>    
                        <option  value="Title">Title Page</option>
                        <option  value="Executive Summary">Executive Summary</option>
                        <option value="Powered">KPMG Powered Enterprise</option>
                        <option value="Functional">Functional Scope</option>    
                        <option  value="Implementation">Implementation Timeline</option>
                        <option  value="Deployment">Our Deployment Approach</option>
                        <option value="Methodology">Our Deployment Methodology</option>
                        <option value="Journey">Your Transformation Journey</option>    
                        <option  value="Integration">Our Integration Approach</option>
                        <option  value="Migration">Data Migration (Powered Data)</option>
                        <option value="Management">Our Approach to Change Management</option>
                        <option value="Assessments">Our Approach to developing Change Impact Assessments</option>    
                        <option  value="Cultural">Our Approach to Cultural Change</option>
                        <option  value="Leadership">Our Approach to Leadership Alignment</option>
                        <option value="communications">Our Approach to developing a communications plan</option>
                        <option  value="Training">Our Approach to Training</option>
                        <option  value="Structure">Project Team Structure</option>
                        <option value="Capability">Demonstrated Capability and Capacity</option>
                        <option value="Pricing">Pricing</option>    
                        <option  value="Appendix1">Appendix 1 - Company Profile</option>
                        <option  value="Appendix2">Appendix 2 - Additional Change Management & Training Services</option>
                        <option value="Appendix3">Appendix 3 - Data Migration Approach</option>
                        <option  value="Appendix4">Appendix 4 - Project Team Roles and Responsibilities</option>
                        <option  value="Appendix5">Appendix 5 - KPMG Powered Innovation (Cyber, Lighthouse)</option>
                        <option value="Appendix6">Appendix 6 - KPMG ThinkPay</option>
                        <option value="Appendix61">Appendix 6 - KPMG Thought Leadership</option>
                        
                        
                        </select>
                    
                    </div>

                    <label for="clientname" class="d-inline btn btn-info btn-sm border border-dark" style="font-size:.7rem;background-color:#000099;"><strong>Sub_Section</strong></label>
                    <input type="text"  class="d-inline form-control border border-dark input-sm" style="font-size:.7rem;width: 20rem" id="sub_section" name="sub_section" style="width: 25rem" placeholder="">
                    
                    
                    
                    <label for="clientname" class="d-inline btn btn-info btn-sm border border-dark" style="font-size:.7rem;background-color:#000099;"><strong>Document Upload</strong></label>
                    <input type="file" required="true" class="d-inline mb-2" style="font-size:.7rem;width: 20rem" id="file" name="docfile" style="width: 25rem" placeholder="">

                    <label for="clientname" class="d-inline btn btn-info btn-sm border border-dark mt-2" style="font-size:.7rem;background-color:#000099;"><strong>Image Upload</strong></label>
                    <input type="file" required="true" class="d-inline mb-2" style="font-size:.7rem;width: 20rem" id="file" name="Imgfile" style="width: 25rem" placeholder="">

                    <button type="submit" class="btn btn-primary btn-sm mt-1 " style="background-color:#000099;" href="#">Save</button>
                    <a  class="btn btn-primary btn-sm mt-1 " style="background-color:#000099;" href="{% url 'userlogin'%}">Back To Main Menu</a>
                    <a  class="btn btn-primary btn-sm mt-1 " style="background-color:#000099;"  onclick="history.back()">Back</a>
                    
                </form>
            </div> 
                
        </div>         
    </div>

</body>
<script type = "text/javascript"   src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
jQuery(document).ready(function($){
    $('#clientname_id').keypress(function (e) {
        var regex = new RegExp("^[a-zA-Z_\. ]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (regex.test(str)) {
            return true;
        }
        e.preventDefault();
        return false;
    });
});
</script>

{% comment %} <link rel="stylesheet" href="{% static 'css/footer.css' %}" />  {% endcomment %}
<div class="container">
    <div class="row">
      <div class="">
        <!-- Copyright -->
        <footer class="">
          <!-- Copyright -->
          <div
            class="footer-copyright container"
            style="font-family: Arial; font-size: 0.5rem; color: black"
          >
            © 2023 Copyright owned by one or more of the KPMG International
            entities. KPMG International entities provide no services to
            clients. All rights reserved. KPMG refers to the global organization
            or to one or more of the member firms of KPMG International Limited
            (“KPMG International”), each of which is a separate legal entity.
            KPMG International Limited is a private English company limited by
            guarantee and does not provide services to clients. For more detail
            about our structure please visit https://home.kpmg/governance
          </div>
          <!-- Copyright -->
        </footer>
        <!-- Footer -->
      </div>
    </div>
  </div>
{% endblock %}